
body{
    background: linear-gradient(rgba(230, 18, 18, 0.582), rgba(238, 0, 0, 0.904));
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.pesquisa{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(252, 250, 250, 0.664);
    height: 15px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt{
    border: none;
    background: none;
    outline: none;
    padding: 0px;
    color: rgb(8, 8, 8);
    font-size: 16px;
    line-height: 40px;
    width: 500px; 
     /* transition: .5s; */
}

.btn{
    height: 30px;
    width: 30px;
    border-radius:28%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*transition .5s; */ 
    
    
}

/* .pesquisa:hover > .txt{
    width: 200px;
    padding: 0 6px;
} para expandir botão */

